<div class="container" style="background-color: #769CBE; color: #fff; padding: 20px;">
	   	  <div class="row">
	   		<div class="col-md-8 default_top">
                <h3 class="m_21">Groups</h3>
              <p class="m_7">
                This is a sample section for Groups
                  <ul>
                    <li>Group 1</li>
                      <li>Group 2</li>
                      <li>Group 3</li>
                      <li>Group 4</li>
                </ul>
              </p>
            </div>
    </div>
</div>
