<div class="container" style="background-color: #009F9F; color: #fff; padding: 20px;">
	   	  <div class="row">
	   		<div class="col-md-8 default_top">
                <h3 class="m_21">Homeworks</h3>
              <p class="m_7">
                This is a sample section for Homeworks
                  <ul>
                    <li>Homework 1</li>
                      <li>Homework 2</li>
                      <li>Homework 3</li>
                      <li>Homework 4</li>
                </ul>
              </p>
            </div>
    </div>
</div>
