<div class="modules app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="modules-wrapper">
							<a href="#/homeworks" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/homework.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2>
						  	</div></a>
                            <h3 style="margin-top: 15px; text-align: center;">Homeworks</h3>
						</div>
					</div>
					<div class="modules app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="modules-wrapper">
							<a ui-sref="modules" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/assignment.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2>
						     </div></a>
                            <h3 style="margin-top: 15px; text-align: center;">Modules</h3>
		                </div>
					</div>
					<div class="modules card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="modules-wrapper">
							<a href="#/quizzes" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/quiz.png" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2>
						  </div></a>
                            <h3 style="margin-top: 15px; text-align: center;">Quizzes</h3>
		                </div>
					</div>
					<div class="modules card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="modules-wrapper">
							<a href="#/groups" class="b-link-stripe b-animate-go  thickbox">
						     <img src="images/project.png" style="margin-top: -20px;" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2>
						  	 </div></a>
                            <h3 style="margin-top: -10px; text-align: center;">Groups</h3>
		                </div>
					</div>
