<div class="container" style="background-color: #90CBC0; color: #fff; padding: 20px;">
	   	  <div class="row">
	   		<div class="col-md-8 default_top">
                <h3 class="m_21">Quizzes</h3>
              <p class="m_7">
                This is a sample section for Quizzes
                  <ul>
                    <li>Quiz 1</li>
                      <li>Quiz 2</li>
                      <li>Quiz 3</li>
                      <li>Quiz 4</li>
                </ul>
              </p>
            </div>
    </div>
</div>
